@import "tailwindcss";

@keyframes blob {

  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

@keyframes floatParticle {

  0%,
  100% {
    transform: translateY(0px);
    opacity: 0.4;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.8;
  }
}